body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
    border:none;
    display:block;
}
body{
    background:#f1f1f1;
	-webkit-flex-direction:column;
}
html{
	font-size: 26.67vw;
}
.sec{
    width: 100%;
    flex: 1;
    overflow-y: auto;
}
/*header*/
header{
	width: 100%;
	height:.5rem;
	display: -webkit-flex;
	-webkit-justify-content:space-around;
    -webkit-align-items:center;
    position: absolute;
}
header img{
    height:.3rem;
}
.er{
    margin-right:.2rem;
}
.head{
    height:.36rem;
    width:2.8rem;
    display: -webkit-flex;
    -webkit-justify-content:flex-end;
    -webkit-align-items: center;
}
/* banner */
.banner{
    height: 3.2rem;
	background: white;
    border-top: 1px solid gray;
}
.ban{
    width:100%;
}
/*section*/
section{
    width: 100%;
    height: 1.6rem;
	background: white;
}
.secbox span{
    color: #e15a60;
    font-size: 20px;
    float: left;
    margin: .1rem auto;
}
.secbox{
    float:left;
    width: 100%;
    margin-left: .2rem;
    border-top: 1px solid gray;
}
section p{
    color:#3b3b3b;
    font-size:18px;
    margin-left: .2rem;
}
.tion{
    display: -webkit-flex;
	-webkit-justify-content:space-around;
    -webkit-align-items:center;
    width:100%;
    height:.4rem;
    margin-top: .1rem;
}
.tion span{
    color:#a3a3a3;
    font-size:15px;
}
.tion1{
    margin-left: .2rem;
    color:#a3a3a3;
    font-size:15px;
    float: left;
    margin-right: .2rem;
    line-height: 0.4rem;
}
.tion2{
    color:#666666;
    font-size:18px;
    float: left;
    line-height: 0.4rem;
}
.tive3{
    margin-top:.3rem;
}
/* active */
.active{
    width:100%;
    height:22rem;
    margin-top:.1rem;
    background:#fafafa;
}
.act{
    display: -webkit-flex;
	-webkit-justify-content:space-around;
    -webkit-align-items:center;
    width:100%;
    height:.4rem;
    margin-top: .1rem;
}
.active span{
    color:#a3a3a3;
    font-size:18px;
}
.tive{
    width:100%;
    background:#fafafa;
}
.tive img{
    width:100%;
}
.tive h3{
    font-size:25px;
    color:#ff5303;
    margin: .1rem .2rem;
}
.tive p{
    font-size: 17px;
    color: #0b0b0b;
    line-height: 30px;
    padding-left: .2rem;
}
.tive1{
    width:100%;
    margin: .2rem 0px;
    height: 3.6rem;
    display: flex;
    justify-content: space-around;
}
.xin1{
    height:3.6rem;
    width:45%;
}
.xin2{
    height: 3.6rem;
}
.xin1 img{
    width:100%;
    border-radius: 10px 10px 0px 0px;
}
.xin2 img{
    width: 1.7rem;
    border-radius: 30px;
    border-radius: 10px 10px 0px 0px;

}
.xin1 span{
    float: left;
    font-size: 15px;
    color: white;
    background: #3faf29;
    text-align: center;
    margin-bottom:.1rem;
    z-index:1;
    line-height: .16rem;
    border-radius: 0px 0px 20px 10px;
}
.xin2 span{
    font-size: 16px;
    color: white;
    text-align: center;
    width: 1.7rem;
    border-radius: 0px 0px 20px 10px;
    background: #3faf29;
    display:block;
}
.tive2{
    width:100%;
    height:8rem;
}
.tive2 h3{
    color:#fa7107;
    font-size:30px;
    float:right;
    margin-right: .2rem;
    line-height: .5rem;

}
.tive2 p{
    color:#282828;
    font-size:18px;
    clear: right;
    float: right;
    line-height: .3rem;
    margin-right: .15rem;
}
.tive2 img{
    width:100%;
    padding-top:.1rem;
}
.tiveBox{
    width: 50%;
    height: 1rem;
    margin: .2rem auto;
    padding-left: .2rem;
    padding-top: .1rem;
    border:4px solid #3a7700;
    position:relative;
}
.tiveBox span{
    color:#2f2f2f;
    font-size:15px;
    display: flex;
}
span .tiveBox1{
    font-size: 16px;
    font-weight: bold;
    color: #2b292a;
}
.tiveBox img{
    width: 50%;
    position: absolute;
    top: .6rem;
    left: 1.2rem;
}
/*footer*/
footer{
	width: 100%;
    height: .6rem;
    position: fixed;
    bottom: 0px;
    display: -webkit-flex;
	background: white;
}
.foot{
    width:40%;
	display: -webkit-flex;
    -webkit-justify-content:space-around;
	text-align: center;
	-webkit-align-items:center;
}
.foot img{
	height:.3rem;
}
.foot a{
	font-size: 10px;
	color: #808080;
}
.foot span{
    font-weight: bold;
    font-size: 16px;
}
#btn{
    color:white;
    background:#cc6465;
    width:30%;
    height:.6rem;
    font-size:18px;
    border:0px;
}
#pay{
    background:#3faf29;
    color:white;
    font-size:18px;
    width:30%;
    height:.6rem;
    border:0px;

}
